@typeparam T
@typeparam TResult


<Card class="mb-3" Size="CardSize.Small">
    <CardBody>

        
            <h3>@Title  <Icon class="icon" IconType="Icons.Eye_exclamation" OnClick="ShowDetailsAsync" /></h3>
       
            <div class="mb-2">
                @Description
            </div>


        <div>
            @((MarkupString)queryHtml)
        </div>

        @if (isExpanded)
        {
            <Tabs @ref=tabs>
                <Tab Title="Request">

                    <div style="height:400px">
                        <StandaloneCodeEditor Id="@(id + "_request")" ConstructionOptions="RequestConstructionOptions" />
                    </div>

                </Tab>
                <Tab Title="Query">
                    <div style="height:400px">
                        <StandaloneCodeEditor Id="@(id + "_query")" ConstructionOptions="QueryConstructionOptions" />
                    </div>
                </Tab>

                @if (QueryExecute.BaseResult == null)
                {
                    <Tab>
                        <Header>
                            <Button Disabled=isExecuting Size=ButtonSize.Small BackgroundColor=TablerColor.Primary OnClick="ExecuteAsync">Execute</Button>
                        </Header>
                    </Tab>

                }
                else
                {
                    <Tab Title="Raw Response">
                        <div style="height:400px">
                            <StandaloneCodeEditor Id="@(id + "_response")" ConstructionOptions="ResponseConstructionOptions" />
                        </div>
                    </Tab>

                    <Tab Title="Result">
                        <div style="height:400px">
                            <StandaloneCodeEditor Id="@(id + "_result")" ConstructionOptions="ResultConstructionOptions" />
                        </div>
                    </Tab>

                }

            </Tabs>
        }
    </CardBody>

</Card>





