@typeparam T
@typeparam TResult


<Card id="@id" class="mb-3" Size="CardSize.Small">
    <CardBody>


        <h3>@Title <Icon class="icon"
                         IconType="@(isExpanded ? Icons.Layout_navbar_collapse : Icons.Layout_navbar_expand)"
                         OnClick="ShowDetailsAsync"/>
        </h3>

        <div class="mb-2">
            @Description
        </div>


        @((MarkupString)queryHtml)

        @if (isExpanded)
        {
            <Tabs @ref=tabs>

                <Tab Title="Query">
                    <div style="height:300px">
                        <StandaloneCodeEditor Id="@(id + "_query")" ConstructionOptions="QueryConstructionOptions"/>
                    </div>
                </Tab>

                <Tab Title="Variables">
                    <div style="height:300px">
                        <StandaloneCodeEditor Id="@(id + "_variables")"
                                              ConstructionOptions="VariableConstructionOptions"/>
                    </div>
                </Tab>

                <Tab Title="Result">
                    <Header>
                        @if (QueryExecute.BaseResult == null)
                        {
                            <Button Disabled=isExecuting Size=ButtonSize.Small BackgroundColor=TablerColor.Primary
                                    OnClick="ExecuteAsync">Execute
                            </Button>
                        }
                        else
                        {
                            <span>Result</span>
                        }

                    </Header>
                    <ChildContent>
                        <div style="height:300px">
                            @if (QueryExecute.BaseResult != null)
                            {
                                <StandaloneCodeEditor Id="@(id + "_result")"
                                                      ConstructionOptions="ResultConstructionOptions"/>
                            }
                        </div>
                    </ChildContent>

                </Tab>

                @if (QueryExecute.BaseResult != null)
                {
                    <Tab Title="Base Result">
                        <div style="height:300px">
                            <StandaloneCodeEditor Id="@(id + "_baseResult")"
                                                  ConstructionOptions="ResponseConstructionOptions"/>

                        </div>
                    </Tab>
                }


            </Tabs>
        }
    </CardBody>

</Card>





